-e .
notebook==7.4.4
pre-commit==4.2.0
pytest==8.4.1
ruff==0.12.3
git+ssh://git@gitlab.datascience.ch/industry/common/conversational-toolkit.git@v7.0.4
chromadb
sentence-transformers==5.1.1
openai
ollama