-e backend/
-e conversational-toolkit/
chromadb==1.4.1
fastapi==0.115.14
jupyter==1.1.1
notebook==7.4.4
numpy==2.3.3
ollama==0.6.1
openai==2.17.0
pre-commit==4.2.0
pytest==8.4.1
ruff==0.12.3
sentence-transformers==5.1.1
# git+ssh://git@gipip tlab.datascience.ch/industry/common/conversational-toolkit.git@v7.0.4
