-e backend/
-e conversational-toolkit/
chromadb==1.4.1
fastapi==0.115.14
jupyter==1.1.1
markitdown==0.1.4
notebook==7.4.4
numpy==2.3.3
ollama==0.6.1
openai==2.21.0
pgvector==0.4.2
pre-commit==4.2.0
pymupdf4llm==0.3.4
pytest==8.4.1
ruff==0.12.3
sentence-transformers==5.1.1
SQLAlchemy==2.0.46
